.App {
  text-align: center;
}

nav {
  box-sizing: border-box black ;
  background-color: black;
  ;
}
.navh1 {
  color: aliceblue;
  
}
.bar{
  display: block;
  float: left
}

.linkedin{
  float:right
}
.github{
  float:right

}

.Home{
  float:right
}